* {
  background-color: #1e1d20;
}

div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #071474;
  color: #cdd5f2;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 45%;
}
